* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
/* body {
  background-color: #000000;
} */
.container {
  width: 81.35vw;
  height: 88vh;
  margin: 0px;
  position: relative;
  top: -88vh;
  left: 17vw;
}

.allDevice {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  width: 75vw;
}

.homeBtn {
  background-color: #000000;
  color: #7a7a7a;
  height: 41px;
  width: 98px;
  margin-top: 1rem;
  margin-left: 1rem;
}

.selected {
  background: linear-gradient(225deg, #edbaff 0%, #a1ffff 100%);
  border-radius: 10px;
  color: #000000;
  font-weight: 600;
}

.add {
  width: 118px;
  height: 39px;
  background: linear-gradient(225deg, #edbaff 0%, #a1ffff 100%);
  border-radius: 10px;
  font-weight: 600;
  color: #000;
}

.cards {
  /* background-color: red; */
  color: white;
}
thead {
  font-size: 24px;
}
tbody {
  font-size: 18px;
}
td {
  margin-right: 1em;
  width: 123px;
  margin: 23px;
  background-color: #252525;
  border-radius: 23px;
}

tr {
  display: inline;
}

.newcard {
  width: 350px;
  height: 120px;
  background: #252525;
  border-radius: 20px;
}

.allnewcard{
  display: grid;
  grid-template-columns: 800px 800px ;
  row-gap: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

.card_data{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  background: linear-gradient(225deg, #EDBAFF 0%, #A1FFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card_ele{
  position:relative;
  left: 0px;
  top: 7px;
  font-weight:650;
}

.Show_more{
  color: white;
  font-size: 20px;
  background-color: transparent;
  position: absolute;
  top: 620px;
  left:575px;
}